#container-cat-page {
    grid-template-rows: 50% 50%;
}

#container-2-cat-page {
    grid-template-rows: 91.6% 8.4%;
}


  .container-2-other-photos {
    display: grid;
    grid-template-rows: 5% 47.5% 47.5%;
  }

  .container-2-photos-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container-2-text-row {
    text-align: left;
  }

  #photos-2 {
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .container-1-container {
    display: grid;
    grid-template-columns: 35% 65%;
  }

  .container-1-image {
    display: flex;
    justify-content: center;
  }

  .traits {
    display: inline;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  .trait {
    display: inline;
  }

  .container-1-traits {
    text-align: left;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .bar {
    width: 100px; /* Cambia el ancho según tus necesidades */
    height: 10px; /* Cambia la altura según tus necesidades */
    background-color: #3498db; /* Cambia el color de fondo según tus necesidades */
    border-radius: 5px; /* Ajusta el valor para redondear los bordes */
    display: inline-block;
  }

  .bar-filled {
    background-color: #544439;
  }

  .bar-empty {
    background-color: #E0E0E0;
  }


  .bar-container-left {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea a la izquierda */
  }

 .wiki {
  height: 250px;
  width: 250px;
  }

  .trait-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bars {
    margin-right: 8%;
  }



  #img-wiki {
    position: relative;
  }

  #img-wiki::before {
    content: "";
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /*border-radius: 10px; */ /* Puedes ajustar el valor para obtener el redondeo deseado */
    background-color:#DEC68B; /* Color de fondo opcional para visualizar mejor el div */
     /* Agregar espaciado interno opcional para separar el contenido del borde */
    width: 10px;
    height: 180px;
    right: 100%;
    top: 45px;


}