.container{
    /*width: 85%;*/
    min-width: 800px;
    width: 1100px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 58% 42%;
}

.container-1 {
    display: grid;
    grid-template-rows: 10% 90%;
}

.container-2 {
    display: grid;
    grid-template-rows: 85% 15%;
}