.container{
    /*width: 85%;*/
    min-width: 800px;
    width: 1100px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 58% 42%;
    min-height: 1720px;
}

.container-1 {
    display: grid;
    grid-template-rows: 5% 95%;
}

.container-2 {
    display: grid;
    grid-template-rows: 90% 10%;
    padding-top: 10%;
}