.main-cat-container {
    display: grid;
    grid-template-rows: 46% 54%;
    border-radius: calc(8px + 2.2%);
    background-color: #E3E1DC;
    overflow: hidden;
    height: 650px;
    min-height: 450px;
}

.main-cat-container-img {
    background-image: url("../images/HeroImagelg.png");
    background-size: 100% 100%;
    background-clip: border-box;
    display: grid;
    grid-template-columns: 45% 55%;
}

.logo-inverse-container  {
    max-width: 100%; 
    max-height: 50%; 
    font-family: 'Mystery Quest', cursive;
    font-size: 2.4rem;
    color:#FFFFFF;
    display: flex;
    justify-content: left;
    align-items: center;
}

.main-cat-container-img-1 {
  /*  display: grid;
    grid-template-rows: 55% 45%;*/
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-cat-container-img-1 p {
    color: #FFFFFF;
    font-size: 1rem;
    text-align: left;
    width: 70%;
}
.logo-inverse-container img {
   /* filter: brightness(0) invert(1);*/
    width: auto;
    height: auto;
    padding-left: 3%;
    max-width: 16%;
   /** position: absolute; 
    width: 100%; 
    height: 100%; */
}

.inside-cat-container-img-1 {
    width: 75%;
    height: 60%;
    margin: auto auto;
    display: grid;
    grid-template-rows: 50% 50%;
}

.inside-cat-container-img-1 p {
    margin-top: 2.5%;
    font-weight: 500;
}

.most-searched {
    width: 87.5%;
    height: 80%;
    margin: auto;
    margin-top: 1.8%;
    display: grid;
    grid-template-rows: 10% 25% 65%;
}

.most-searched p {
    text-align: left;
}

.most-searched h2 {
    width: 100%;
    text-align: left;
}

.most-searched-discover {
    display: grid;
    grid-template-columns: 50% 50%;
}

.see-more p {
    display: inline;
}

.see-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.see-more img {

    width: 12px;
    height: 6%;
    padding-left: 5px;
    margin-bottom: 4.8%;
    filter: invert(53%) sepia(5%) saturate(950%) hue-rotate(343deg) brightness(85%) contrast(91%);
}

.see-more svg {
    filter: invert(53%) sepia(5%) saturate(950%) hue-rotate(343deg) brightness(85%) contrast(91%);

}

.see-more-2 {
    display: inline-flex;
    margin-right: 0;
    justify-content: flex-end;
    align-items: end;

}

.see-more-2 p {
    line-height: 1;
    margin-bottom: 0;
}

.see-more a:hover {
    color: rgba(41, 21, 7, 0.6);
}


.see-more a {
    color: rgba(41, 21, 7, 0.6);
}

.breeds-to-discover {
    display: flex;
    align-content: end;
    justify-content: flex-start;
}

.breeds-to-discover h2 {
    display: inline;
    line-height: 1;
}


.mi-rectangulo {
    width: 45px;
    height: 3px;
    background-color: #4D270C; /* Cambia #007bff por el color que desees */
    border-radius: 25px 25px 25px 25px; /* Aplica bordes redondeados a los lados izquierdo y derecho */
    text-align: center; /* Centra el contenido del rectángulo horizontalmente */
    line-height: 50px; /* Centra el contenido del rectángulo verticalmente */
    margin-left: 0.09%;


}

.most-searched-breed-2 p {
    margin-bottom: 0;
    margin-top: 0.3%;
    font-weight: 500;
}

.rounded-div {
    border-radius: 10px; /* Puedes ajustar el valor para obtener el redondeo deseado */
    background-color:#DEC68B; /* Color de fondo opcional para visualizar mejor el div */
    padding: 10px; /* Agregar espaciado interno opcional para separar el contenido del borde */
    width: 15px;
    height: 110px;
}

.most-searched-photos {
    display: flex;
    justify-content: left;
    align-items: center;
}